fieldset {border: none;}
input {border: none;border-bottom: solid 1.5px #eee;}
.errorlist {color: red;list-style: none;padding: 0;}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {min-height: 60px!important;}