<!--
 ___    ____                  _               
|_ _|  / ___|  ___ _ ____   _(_) ___ ___  ___ 
 | |   \___ \ / _ \ '__\ \ / / |/ __/ _ \/ __|
 | |    ___) |  __/ |   \ V /| | (_|  __/\__ \
|___|  |____/ \___|_|    \_/ |_|\___\___||___/
            ...when IT matters!				
                                                
https://iservicesinc.com https://iservicesinc.net
Copyright 2021 I Services, Inc. All rights reserved.
-->
<!doctype html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block head_description %}{% endblock %}">
    <meta name="keywords" content="{% block head_keywords %}{% endblock %}">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- <script src="/assets/js/functions.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/js/uikit-icons.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body %}
    <header class="uk-navbar-container" uk-navbar>
        <div id="menu" class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
    </header>
    {% if messages %}
    <div id="messages" class="uk-alert-warning" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <ul class="uk-list">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <content class="uk-container uk-padding">
        {% block content %}{% endblock %}
    </content>
    <footer>
    </footer>
    {% endblock %}
    {% block extra_body %}{% endblock %}
</body>
</html>